@import 'reset.scss';

$primary-color: #aaa;
@import '~loaders.css/src/animations/ball-scale-multiple.scss';

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  padding-top: 0;
  font-family: 'Roboto Slab', serif;
}

strong {
  font-weight: bold;
}

.loader {
  position: relative;
  left: -15px;
  transition: all .25s;

  &.loader-hidden {
    visibility: hidden;
    opacity: 0;
  }
  &.loader-active {
    visibility: visible;
    opacity: 1;
  }

  .loader-inner {
    transform: translate(0,0);
    top: 50%;
    width: 100%;
    height: 100%;
    position: absolute;

    div {
      width: 26px;
      height: 26px;
      top: -13px;
      left: -13px;
    }
  }
}

.order-details .loader {
  left: 0;
  width: 25px;
  display: inline-block;

  .loader-inner div {
    top: -17px;
    left: 0;
  }
}

.app-container {
  display: flex;
  flex-flow: row wrap;
}

.search {
  flex: 1 100%;
  padding: 20px;
  display: flex;
}

.search-input {
  padding: 10px;
  border: solid 1px #ddd;

  &:focus {
    outline: none;
    border-color: #bbb;
  }
}

.reset-button {
  margin-left: 5px;
  border: none;
  border-radius: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #aaa;
  background: #eee;
  cursor: pointer;

  &.active {
    color: #666;
    background: #ddd;
  }

  &:focus {
    outline: none;
  }
}

.orders {
  font-size: 12px;
  line-height: 1.5;
  flex: 0 65%;
}

.orders table {
  width: 100%;
}

.orders tr {
  background: #eee;
  transition: all .2s;
  cursor: pointer;

  &:nth-child(even) {
    background: #f8f8f8;
  }

  &:hover {
    background: #ddd;
  }

  &:first-child {
    background: #ccc;
  }

  &.active {
    background: HotPink;
  }
}

.orders th {
  padding: 10px;
  font-weight: bold;
}

.orders td {
  padding: 5px;

  &:nth-child(even) {
    background: rgba(0,0,0,.05)
  }
}

.order-details {
  padding: 30px;
  flex: 0 35%;
  line-height: 1.4;
  font-size: 12px;
  position: relative;

  a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }
}

.separated {
  display: inline-block;
  margin-top: 10px;
}

.separated-extra {
  display: block;
  margin-top: 20px;
  padding-top: 4px;
  border-top: solid 1px #ddd;
  margin-bottom: 15px;
}

.order-event {
  margin-top: 7px;
}
